/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: rgba(173, 131, 80, 1);
  --primary-dark: rgba(218, 255, 237, 1);

  --secondary: rgba(70, 63, 58, 1);
  --secondary-dark: rgba(155, 243, 240, 1);

  --accent: rgba(4, 67, 137, 1);
  --accent-dark: rgba(173, 252, 146, 1);

  --warn: rgba(224, 114, 164, 1);
  --warn-dark: rgba(176, 142, 162, 1);

  --background: rgba(234, 234, 234, 1);
  --background-dark: rgba(54, 57, 59, 1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background);
  --color-text: var(--primary);
  --color-accent: var(--accent);
  --color-warn: var(--warn);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background-dark);
    --color-text: var(--primary-dark);
    --color-accent: var(--accent-dark);
    --color-warn: var(--warn-dark);
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('@/assets/Ubuntu/Ubuntu-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
